/*
Theme Name: Neve Child
Theme URI: -
Description: A child theme of Neve
Author: Ale
Author URI: 
Template: neve
Version: 1.0
*/

/* ************** GENERAL *************** */

/* custom */
.descr { font-size: 30px; margin-bottom:20px; } #contact .elementor-heading-title { font-size: 50px }  #offer { position: absolute; top: 0; bottom:0;right: 0; height:250px;width: 250px;} @media (max-width: 1024px) { .descr { font-size: 20px; margin-bottom:10px; } #contact { font-size: 35px } #offer { position: relative; margin: 0 auto 10px auto;} } #offer img {max-width:100%;} 

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 768px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}