@charset "UTF-8";
/*
Theme Name:     Neve
Theme URI:      https://themeisle.com/themes/neve/
Author:         ThemeIsle
Author URI:     https://themeisle.com
Description:    Neve is a super fast, easily customizable, multi-purpose theme. It’s perfect for blogs, small business, startups, agencies, firms, e-commerce shops (WooCommerce storefront) as well as personal portfolio sites and most types of projects. A fully AMP optimized and responsive theme, Neve will load in mere seconds and adapt perfectly on any viewing device. While it is lightweight and has a minimalist design, the theme is highly extendable, it has a highly SEO optimized code, resulting in top rankings in Google search results. Neve works perfectly with Gutenberg and the most popular page builders (Elementor, Brizy, Beaver Builder, Visual Composer, SiteOrigin, Divi). Neve is also WooCommerce ready, responsive, RTL & translation ready. Look no further. Neve is the perfect theme for you!
Version:        1.1.4
License:        GNU General Public License v2 or later
License URI:    http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:    neve
WordPress Available:  yes
Requires License:     no
Tags: blog, custom-logo, e-commerce, rtl-language-support, post-formats, grid-layout, one-column, two-columns, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, flexible-header, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, accessibility-ready, wide-blocks, block-styles
*/

/* custom */
.offer {
	color: #fff;
    height: 200px;
    width: 200px;
    overflow: hidden;
    position: absolute;
    margin: auto 0 auto auto;
    border: 1px solid #efefef;
    border-radius: 50%;
    padding: 30px 0;
    transform: rotate(10deg);
}


html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

abbr, acronym {
  text-decoration: none;
}

/*!
 * Bootstrap Grid v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.w-100 {
  width: 100%;
}

.gapless {
  padding: 0 !important;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid > div {
  margin: 0 -15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

html {
  font-size: 100%;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Graphik, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  color: #404248;
  line-height: 1.68421;
  overflow-x: hidden;
  direction: ltr;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Graphik, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  line-height: 1.68421;
  margin-bottom: 0.8rem;
  font-weight: 600;
}

p {
  margin-bottom: 20px;
}

a {
  cursor: pointer;
  color: #0366d6;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
  color: #0366d6;
}

.screen-reader-text {
  display: none;
}

ins {
  text-decoration: none;
}

body {
  font-size: 16px;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.75em;
}

h6 {
  font-size: 0.75em;
}

.show-on-focus {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  top: 0;
  left: 0;
}
.show-on-focus:focus {
  z-index: 20;
  width: auto;
  height: auto;
  clip: auto;
}

a.neve-skip-link {
  background-color: #24292e;
  color: #fff;
  padding: 10px 20px;
}
a.neve-skip-link:focus {
  color: #fff;
}
.admin-bar a.neve-skip-link {
  top: 32px;
}

.nv-content-wrap a, .nv-comment-content a {
  text-decoration: underline;
}
.nv-content-wrap a:hover, .nv-comment-content a:hover {
  text-decoration: none;
}

.nv-comment-content .edit-reply a, .comments-area a {
  text-decoration: none;
}
.nv-comment-content .edit-reply a:hover, .comments-area a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: "neve-icons";
  src: url("assets/neve-icons/neve-icons.eot?6iu2wo");
  src: url("assets/neve-icons/neve-icons.eot?6iu2wo#iefix") format("embedded-opentype"), url("assets/neve-icons/neve-icons.ttf?6iu2wo") format("truetype"), url("assets/neve-icons/neve-icons.woff?6iu2wo") format("woff"), url("assets/neve-icons/neve-icons.svg?6iu2wo#neve-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.nv-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "neve-icons" !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  text-transform: none;
  speak: none;
}

.nv-search:before {
  content: "\f002";
}

.nv-author:before {
  content: "\f007";
}

.nv-comment:before {
  content: "\f075";
}

.nv-cart:before {
  content: "\f07a";
}

.nv-folder:before {
  content: "\f07b";
}

.nv-calendar:before {
  content: "\f133";
}

.nv-themeisle:before {
  content: "\f2b2";
}

.nv-sidebar-full-width .alignfull, .nv-sidebar-full-width .alignwide {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}

.has-neve-body-font-size {
  font-size: 1.5em;
}

.has-neve-h-1-font-size {
  font-size: 1.3em;
}

.has-neve-h-2-font-size {
  font-size: 1.1em;
}

.has-neve-h-3-font-size {
  font-size: 1em;
}

.has-neve-h-4-font-size {
  font-size: 0.75em;
}

.has-neve-h-5-font-size {
  font-size: 0.75em;
}

blockquote.wp-block-quote.is-style-large p {
  font-size: 1.75em;
}
blockquote.wp-block-quote.is-style-large cite {
  text-align: center;
  font-size: .95em;
}

.wp-block-pullquote blockquote {
  margin: 1em auto;
}
.wp-block-pullquote blockquote p {
  font-size: 2em;
  margin-bottom: 20px;
}
.wp-block-pullquote blockquote::before, .wp-block-pullquote blockquote::after {
  display: none;
}
.wp-block-pullquote blockquote cite {
  text-align: left;
  font-size: .85em;
}
.wp-block-pullquote.is-style-solid-color blockquote p {
  font-size: 2em;
}
.wp-block-pullquote:not(.is-style-solid-color) {
  border-top: 4px solid;
  border-bottom: 4px solid;
  margin: 1em 0;
}
.wp-block-pullquote:not(.is-style-solid-color) blockquote cite {
  text-transform: uppercase;
  text-align: center;
}

.wp-block-table {
  width: 100%;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  border-bottom: 2px solid #8f98a1;
  display: block;
  max-width: 100px;
  margin: 40px auto;
}

.wp-block-separator.is-style-wide, .wp-block-separator.is-style-dots {
  border-color: #8e98a2;
  margin: 20px auto 40px;
}

.wp-block-verse {
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: italic;
  border: unset;
}

.wp-block-code code {
  background-color: inherit;
}

.wp-block-button a {
  font-size: .8em;
  font-weight: 600;
  padding: 6px 12px;
  transition: all .15s ease-in-out;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: .25rem;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 1.68421;
  font-family: inherit;
}
.wp-block-button a:hover {
  text-decoration: none;
  opacity: .9;
}
.wp-block-button a:hover {
  text-decoration: none;
}
.wp-block-button.is-style-outline a.wp-block-button__link {
  border: 1px solid #676767;
  background-color: transparent;
  font-weight: 600;
  color: #676767;
  border: 1px solid;
}
.wp-block-button.is-style-outline a.wp-block-button__link:hover {
  background: transparent;
}

.hidden-on-mobile {
  display: none;
}

.hidden-on-tablet {
  display: initial;
}

.show-on-desktop {
  display: none;
}

#nv-top-bar-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
  flex: 1;
}
.content-menu #nv-top-bar-menu > li {
  margin-left: 10px;
}
.menu-content #nv-top-bar-menu > li {
  margin-right: 10px;
}

.nv-top-bar-content {
  display: flex;
  flex: 1;
}
.nv-top-bar-content p {
  margin-bottom: 0;
}

.nv-top-bar {
  background-color: #f0f0f0;
  color: #404248;
}
.nv-top-bar a {
  font-weight: 500;
  color: #404248;
}
.nv-top-bar a:hover {
  color: #404248;
}

.nv-tb-wrap {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 40px;
  font-size: .85em;
}
.nv-tb-wrap.menu-content .nv-top-bar-content, .nv-tb-wrap.content-menu #nv-top-bar-menu {
  justify-content: flex-end;
  align-items: center;
}
.nv-tb-wrap.content-menu .nv-top-bar-content, .nv-tb-wrap.menu-content #nv-top-bar-menu {
  justify-content: flex-start;
  align-items: center;
}

.nv-nav-header {
  display: flex;
  min-height: 70px;
}

.site-logo {
  width: 270px;
  align-items: center;
  display: flex;
  padding: 10px 0;
}
.site-logo amp-img img {
  max-height: 60px;
}
.site-logo img {
  max-height: 60px;
  float: left;
}
.site-logo h1, .site-logo p {
  font-size: 1.25em;
  margin-bottom: 0;
  font-weight: 600;
}
.site-logo small {
  width: 100%;
  display: block;
}
.site-logo a {
  color: #404248;
  display: inline;
}
.site-logo a:hover {
  color: #404248;
  text-decoration: none;
  opacity: .9;
}
.nav-center .site-logo > * {
  text-align: center;
}

.icon-bar {
  transition: all 0.1s ease;
  position: relative;
  display: block;
  background: #404248;
  border-radius: 2px;
  width: 15px;
  height: 2px;
}
.icon-bar:nth-child(2) {
  margin: 3px 0;
}

.navbar-toggle-wrapper {
  align-items: center;
}

.navbar-toggle {
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  background: none;
  cursor: pointer;
  padding: 10px 15px;
}
.navbar-toggle:hover {
  box-shadow: none;
  transform: none;
  background: transparent;
}

.navbar-toggle.active .icon-bar:nth-child(1) {
  transform: rotate(45deg);
  top: 5px;
}
.navbar-toggle.active .icon-bar:nth-child(2) {
  opacity: 0;
}
.navbar-toggle.active .icon-bar:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 5px;
}

.menu-opened {
  overflow: hidden;
}

.nv-navbar {
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  max-height: 100vh;
}

#nv-primary-navigation {
  max-height: 0;
  overflow-y: auto;
  transition: all 0.3s ease;
  margin-bottom: 0;
}
.responsive-opened #nv-primary-navigation {
  max-height: calc(100vh - 70px);
  padding-bottom: 20px;
}
#nv-primary-navigation a {
  color: #404248;
  font-weight: 500;
  width: 100%;
  display: block;
  padding: 10px 0;
  position: relative;
}
#nv-primary-navigation li {
  cursor: pointer;
  width: 100%;
  display: block;
  position: relative;
}
#nv-primary-navigation .amp-desktop-caret-wrap {
  display: none;
}

.site-logo, .navbar-toggle-wrapper {
  flex: 1 auto;
}

.navbar-toggle-wrapper {
  justify-content: flex-end;
  display: flex;
}

#nv-primary-navigation .sub-menu {
  max-height: 0;
  overflow: hidden;
  padding-left: 20px;
  transition: all 0.3s ease;
  border-left: 1px solid #f0f0f0;
}
#nv-primary-navigation .caret-wrap.dropdown-open + .sub-menu,
#nv-primary-navigation .dropdown-open.sub-menu {
  max-height: 2000px;
  transition: all 0.3s ease;
  opacity: 1;
  visibility: visible;
}

.nv-nav-wrap {
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.caret {
  content: " ";
  height: 6px;
  width: 6px;
  position: relative;
  display: inline-block;
  border: 2px solid;
  border-radius: 1px;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(135deg);
  color: #676767;
  top: -4px;
  transition: all 0.3s ease;
}
.dropdown-open.caret-wrap > .caret {
  transform: rotate(-45deg);
  top: -2px;
}

.caret-wrap {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #c9c9c9;
  padding: 0 10px;
  transition: all 0.3s ease;
}

#nv-primary-navigation .current-menu-item > a {
  color: #0366d6;
}

#nv-primary-navigation i {
  font-size: inherit;
  line-height: inherit;
  width: 20px;
}

.nav-right .site-logo {
  justify-content: flex-end;
}

.nav-right .navbar-toggle-wrapper {
  justify-content: flex-start;
}

.nav-right .nv-nav-header {
  flex-direction: row-reverse;
}
.nav-right .nv-nav-header .brand > * {
  text-align: right;
}

.menu-item-nav-search.responsive-nav-search .nv-nav-search {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.menu-item-nav-search.responsive-nav-search .nv-nav-search .search-submit {
  display: block;
}
.menu-item-nav-search.responsive-nav-search .nv-nav-search form {
  position: relative;
  width: 75%;
}
.menu-item-nav-search.responsive-nav-search .nv-nav-search form:after {
  font-family: "neve-icons";
  content: "\f002";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  line-height: 35px;
  width: 45px;
  z-index: 3;
  cursor: pointer;
  pointer-events: none;
  color: #c9c9c9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-item-nav-search.responsive-nav-search .nv-nav-search form input[type="search"] {
  width: 100%;
  padding: 8px 45px 7px 12px;
}
.menu-item-nav-search.responsive-nav-search .nv-nav-search form input[type="submit"] {
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  color: transparent;
  background: 0 0;
  z-index: 2;
  width: 45px;
  border: 0;
  padding: 8px 12px 7px;
}
.menu-item-nav-search.responsive-nav-search .nv-nav-search form input[type="submit"]:hover {
  background-color: #eee;
}

.close-container {
  position: absolute;
  top: 60px;
  display: flex;
  justify-content: flex-end;
}

.menu-item-nav-search {
  outline: 0;
}

.menu-item-nav-search:not(.responsive-nav-search).nv-nav-search {
  padding: 10px 0;
}

.menu-item-nav-search > a {
  display: block;
}

.nv-nav-search {
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  position: absolute;
  right: 0;
  width: auto;
  background: #fff;
  padding: 10px 20px;
  border-top: 1px solid #f0f0f0;
  cursor: default;
  z-index: 100;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.menu-item-nav-search.active .nv-nav-search {
  visibility: visible;
  opacity: 1;
}
.nv-nav-search form {
  display: block;
}
.nv-nav-search form label {
  display: inline;
  margin: 0;
}
.nv-nav-search form label input {
  width: 200px;
  margin: 0;
}

a.button.close-responsive-search {
  font-size: .8em;
  font-weight: 600;
  padding: 6px 12px;
  transition: all .15s ease-in-out;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: .25rem;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 1.68421;
  font-family: inherit;
  border: 1px solid #676767;
  background-color: transparent;
  font-weight: 600;
  color: #676767;
}
a.button.close-responsive-search:hover {
  text-decoration: none;
  opacity: .9;
}
a.button.close-responsive-search:hover {
  background: transparent;
}

.nav-clickaway-overlay {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 90;
  height: 100vh;
}

#nv-primary-navigation .menu-item-nav-search:not(.responsive-nav-search) {
  display: none;
}

.menu-item-nav-search.responsive-nav-search {
  padding-left: 12px;
}
.menu-item-nav-search.responsive-nav-search > a {
  color: #24292e;
  font-size: 1.2em;
}

#nv-primary-navigation > li.button, .menu > li.button {
  padding: 0;
  vertical-align: middle;
  align-items: center;
  display: flex;
  border: none;
}
#nv-primary-navigation li.button, .menu li.button {
  text-align: left;
  background: none;
  /* Primary button */
  /* Secondary button */
}
#nv-primary-navigation li.button > a, .menu li.button > a {
  font-size: .8em;
  font-weight: 600;
  padding: 6px 12px;
  transition: all .15s ease-in-out;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: .25rem;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 1.68421;
  font-family: inherit;
  font-size: inherit;
}
#nv-primary-navigation li.button > a:hover, .menu li.button > a:hover {
  text-decoration: none;
  opacity: .9;
}
#nv-primary-navigation li.button.button-primary > a, .menu li.button.button-primary > a {
  background-color: #0366d6;
  color: #fff;
}
#nv-primary-navigation li.button.button-primary > a:hover, .menu li.button.button-primary > a:hover {
  text-decoration: none;
  background-color: #0366d6;
  color: #fff;
  opacity: .9;
}
#nv-primary-navigation li.button.button-primary:hover > a, .menu li.button.button-primary:hover > a {
  color: #fff;
}
#nv-primary-navigation li.button.button-secondary > a, .menu li.button.button-secondary > a {
  border: 1px solid #676767;
  background-color: transparent;
  font-weight: 600;
  color: #676767;
}
#nv-primary-navigation li.button.button-secondary > a:hover, .menu li.button.button-secondary > a:hover {
  background: transparent;
}

/* Remove margin from buttons in sub-menus on primary nav. */
#nv-primary-navigation .sub-menu li.button > a {
  margin-right: 0;
}

#nv-primary-navigation .button {
  margin: 10px 0;
  padding: 0;
}

/* Negate default button properties */
.menu li.button, .menu li.button:hover {
  background: none;
  border: none;
}

/* Footer menu buttons */
.nv-footer-content .footer-menu li {
  display: flex;
  align-items: center;
}
.nv-footer-content .footer-menu li.button {
  margin: 0 10px;
}

/* Style mega-menu and its children on mobile */
#nv-primary-navigation .neve-mega-menu .sub-menu > li > a {
  white-space: normal;
}
#nv-primary-navigation .neve-mega-menu > .sub-menu {
  border-left: none;
}
#nv-primary-navigation .neve-mega-menu .dropdown-open.sub-menu {
  max-height: inherit;
  width: 100%;
  border-left: none;
}
#nv-primary-navigation .neve-mega-menu .neve-mm-col {
  border: none;
}
#nv-primary-navigation .neve-mega-menu .neve-mm-col > a {
  display: none;
}
#nv-primary-navigation .neve-mega-menu .neve-mm-col > .sub-menu {
  padding-left: 0;
  border-left: none;
}
#nv-primary-navigation .neve-mega-menu .neve-mm-col .neve-mm-heading > a {
  font-weight: 700;
  text-transform: uppercase;
}
#nv-primary-navigation .neve-mega-menu .neve-mm-divider {
  height: 1px;
  margin: 10px auto;
  width: 75%;
  background-color: #c9c9c9;
  cursor: default;
}
#nv-primary-navigation .neve-mega-menu .caret-wrap.dropdown-open + .sub-menu .sub-menu {
  max-height: 2000px;
}
#nv-primary-navigation .neve-mega-menu .sub-menu .caret-wrap {
  display: none;
}

footer {
  background-color: #fff;
}

.footer-content-wrap {
  border-top: 1px solid #f0f0f0;
}

.footer-content-wrap.footer-second-section {
  border-top: none;
  background: #24292e;
  color: #fff;
  text-align: center;
}
.footer-content-wrap.footer-second-section a {
  color: #fff;
}

.nv-footer-content, .nv-footer-widgets {
  padding: 20px 0;
}

.nv-footer-widgets + .nv-footer-content {
  padding-top: 0;
}

.nv-footer-content .footer-menu {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
}
.nv-footer-content .footer-menu li {
  padding-right: 10px;
  padding-left: 10px;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.neve-main {
  flex: 1 auto;
  min-height: 1px;
}

.archive-container {
  padding-top: 20px;
}

.nv-page-title-wrap.nv-big-title .nv-page-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 20px;
}
.nv-page-title-wrap.nv-big-title .nv-page-title h1 {
  line-height: 1.3em;
  margin-bottom: 0;
}
.nv-page-title-wrap.nv-big-title .nv-page-title h1 + p {
  margin-bottom: 0;
}

.nv-content-none-wrap {
  margin-bottom: 60px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], input[type="month"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="week"], input[type="number"], input[type="search"], input[type="tel"], input[type="color"], select, textarea {
  display: inline-block;
  font-size: 14px;
  padding: 7px 12px;
  background-color: transparent;
  color: #333;
  border: 1px solid #dddddd;
  border-radius: 3px;
  transition: all 0.3s ease;
}

input[type="text"], input[type="search"], input[type="password"], input[type="submit"], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input, textarea, select, button {
  line-height: inherit;
  -webkit-box-sizing: border-box;
  /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box;
  /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

fieldset {
  border: 0;
  margin: 20px 0;
}
fieldset legend {
  font-size: .9em;
  margin-bottom: 10px;
}
fieldset input[type="text"], fieldset input[type="search"], fieldset input[type="password"], fieldset textarea {
  width: 100%;
}

.button {
  font-size: .8em;
  font-weight: 600;
  padding: 6px 12px;
  transition: all .15s ease-in-out;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: .25rem;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 1.68421;
  font-family: inherit;
}
.button:hover {
  text-decoration: none;
  opacity: .9;
}
.button.button-primary {
  background-color: #0366d6;
  color: #fff;
}
.button.button-primary:hover {
  text-decoration: none;
  background-color: #0366d6;
  color: #fff;
  opacity: .9;
}
.button.button-secondary {
  border: 1px solid #676767;
  background-color: transparent;
  font-weight: 600;
  color: #676767;
}
.button.button-secondary:hover {
  background: transparent;
}

button, input[type=button], .btn, input[type="submit"] {
  font-size: .8em;
  font-weight: 600;
  padding: 6px 12px;
  transition: all .15s ease-in-out;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: .25rem;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 1.68421;
  font-family: inherit;
  background-color: #0366d6;
  color: #fff;
}
button:hover, input[type=button]:hover, .btn:hover, input[type="submit"]:hover {
  text-decoration: none;
  opacity: .9;
}
button:hover, input[type=button]:hover, .btn:hover, input[type="submit"]:hover {
  text-decoration: none;
  background-color: #0366d6;
  color: #fff;
  opacity: .9;
}

.nv-seach-form-wrap .search-form {
  border-top: 1px solid #f0f0f0;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.nv-seach-form-wrap .search-form input[type="submit"] {
  margin-left: 10px;
}

.search-form label {
  margin-bottom: 0;
}

.widget .search-form, .widget .woocommerce-product-search, .nv-nav-search .search-form {
  position: relative;
}
.widget .search-form label, .widget .woocommerce-product-search label, .nv-nav-search .search-form label {
  display: inline;
}
.widget .search-form:after, .widget .woocommerce-product-search:after, .nv-nav-search .search-form:after {
  font-family: "neve-icons";
  content: "\f002";
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 35px;
  height: 100%;
  width: 45px;
  z-index: 3;
  cursor: pointer;
  pointer-events: none;
  color: #c9c9c9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.widget .search-form input[type="search"], .widget .woocommerce-product-search input[type="search"], .nv-nav-search .search-form input[type="search"] {
  width: 100%;
  padding: 8px 45px 7px 12px;
}
.widget .search-form button[type="submit"], .widget .search-form input[type="submit"], .widget .woocommerce-product-search button[type="submit"], .widget .woocommerce-product-search input[type="submit"], .nv-nav-search .search-form button[type="submit"], .nv-nav-search .search-form input[type="submit"] {
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  color: transparent;
  background: 0 0;
  z-index: 2;
  width: 45px;
  border: 0;
  padding: 8px 12px 7px;
}
.widget .search-form button[type="submit"]:hover, .widget .search-form input[type="submit"]:hover, .widget .woocommerce-product-search button[type="submit"]:hover, .widget .woocommerce-product-search input[type="submit"]:hover, .nv-nav-search .search-form button[type="submit"]:hover, .nv-nav-search .search-form input[type="submit"]:hover {
  background-color: #eee;
}

.nv-nav-search .search-form input[type="search"] {
  width: 200px;
}

.nv-meta-list {
  padding-bottom: 10px;
  width: 100%;
}
.nv-meta-list li {
  display: inline;
  color: #676767;
  font-size: 0.85em;
}
.nv-meta-list li:not(:last-child):after {
  content: '/';
  padding: 0 5px;
  color: #676767;
}
.nv-meta-list a, .nv-meta-list a:hover {
  color: #676767;
}
.nv-meta-list .posted-on .updated {
  display: none;
}
.nv-meta-list .meta.author .photo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translateY(30%);
}
.nv-meta-list .meta.author .author-name {
  margin-left: 3px;
}

.entry-title {
  word-wrap: break-word;
  font-weight: 600;
  line-height: 1.3em;
}
.entry-title a {
  color: #404248;
}
.entry-title a:hover, .entry-title a:focus {
  opacity: .9;
  color: #404248;
}

.posts-wrapper .excerpt-wrap {
  color: #676767;
}

.nv-post-thumbnail-wrap amp-img {
  display: inline-block;
}
.nv-post-thumbnail-wrap a {
  transition: all 0.3s ease;
}
.nv-post-thumbnail-wrap a:hover {
  opacity: .95;
}
.nv-post-thumbnail-wrap img {
  height: auto;
}

.posts-wrapper > article {
  margin-bottom: 30px;
}

.layout-grid .content > .blog-entry-title {
  margin-bottom: 0;
}

.blog-entry-title {
  word-wrap: break-word;
}

.article-content-col {
  width: 100%;
}

.article-content-col .content {
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
}
.article-content-col .content .button {
  display: inline-block;
  align-self: flex-start;
}

.bypostauthor {
  display: block;
}

.nv-index-posts .posts-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.nv-index-posts .page-numbers {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
  justify-content: center;
  margin: 10px auto;
}
.nv-index-posts .page-numbers > li:not(:last-child) {
  padding-right: 10px;
}
.nv-index-posts .page-numbers > li:not(:first-child) {
  padding-left: 10px;
}

.layout-grid .content > * {
  margin: 0 0 10px;
}
.layout-grid .content > *:last-child {
  margin-bottom: 0;
}
.layout-grid .content > *:first-child {
  margin-top: 0;
}
.layout-grid .content > *.nv-meta-list {
  margin-top: 0;
}

.nv-non-grid-article .non-grid-content {
  display: flex;
  flex-direction: column;
}
.nv-non-grid-article .non-grid-content > * {
  margin: 0 0 10px;
}
.nv-non-grid-article .non-grid-content > *:last-child {
  margin-bottom: 0;
}
.nv-non-grid-article .non-grid-content > *.nv-meta-list {
  margin-top: 0;
}
.nv-non-grid-article .non-grid-content .blog-entry-title {
  margin-bottom: 0;
}

article {
  word-break: break-word;
}

.sticky {
  display: inherit;
}

.nv-loader {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #0366d6;
  border-left: 1px solid transparent !important;
  animation: spin;
  -webkit-animation: spin 1s ease infinite;
  -moz-animation: spin 1s ease infinite;
  animation: spin 1s ease infinite;
  margin: 0 auto;
  display: none;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.layout-grid > .article-content-col, .layout-grid > .article-content-col .content {
  height: 100%;
}

.layout-default, .layout-alternative {
  display: flex;
  align-items: flex-end;
}
.layout-default .nv-post-thumbnail-wrap, .layout-alternative .nv-post-thumbnail-wrap {
  margin-bottom: 10px;
}

.page .nv-page-title-wrap {
  margin-top: 30px;
}

.single .nv-sidebar-wrap, .page .nv-sidebar-wrap {
  margin-top: 30px;
}

.nv-single-post-wrap .entry-header,
.nv-single-post-wrap .nv-thumb-wrap,
.nv-single-post-wrap .nv-content-wrap,
.nv-single-post-wrap .nv-post-navigation,
.nv-single-post-wrap .nv-tags-list {
  margin-bottom: 20px;
}
.nv-single-post-wrap .entry-header:first-child,
.nv-single-post-wrap .nv-thumb-wrap:first-child,
.nv-single-post-wrap .nv-content-wrap:first-child,
.nv-single-post-wrap .nv-post-navigation:first-child,
.nv-single-post-wrap .nv-tags-list:first-child {
  margin-top: 30px;
}

.single-post-container .title {
  margin-bottom: 0;
}

.attachment-neve-blog {
  display: flex;
}

.nv-post-navigation {
  display: flex;
  justify-content: space-between;
}
.nv-post-navigation .previous a:hover,
.nv-post-navigation .next a:hover {
  text-decoration: none;
}
.nv-post-navigation .previous a:hover span:not(.nav-direction),
.nv-post-navigation .next a:hover span:not(.nav-direction) {
  text-decoration: underline;
}
.nv-post-navigation .previous .nav-direction,
.nv-post-navigation .next .nav-direction {
  color: #676767;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  text-transform: uppercase;
}
.nv-post-navigation .next {
  margin-left: auto;
  text-align: right;
}

.nv-content-wrap .page-numbers {
  justify-content: center;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
}
.nv-content-wrap .page-numbers > a:not(:last-child) span, .nv-content-wrap .page-numbers > span {
  padding-right: 20px;
}

.post-password-form {
  margin-bottom: 40px;
  text-align: center;
}
.post-password-form input[type=submit] {
  height: 39px;
  margin-left: 10px;
}
.post-password-form p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-password-form label > input {
  margin-left: 10px;
}

.nv-tags-list {
  font-size: .85em;
}
.nv-tags-list span {
  margin-right: 10px;
}
.nv-tags-list a {
  display: inline-block;
  padding: 2px 10px;
  transition: all 0.3s ease;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #0366d6;
  color: #0366d6;
}
.nv-tags-list a:hover {
  background: #0366d6;
  color: #fff;
}

#comments {
  border-top: 1px solid #f0f0f0;
  margin-top: 10px;
}
#comments ol {
  list-style: none;
}
#comments ol > ol {
  padding-left: 10px;
}
#comments li {
  padding: 10px 0 0;
}
#comments .children > li {
  margin-top: 20px;
  padding-top: 20px;
}
#comments .edit-reply {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: .85em;
}
#comments .edit-reply .nv-reply-link {
  margin-left: auto;
}

.nv-comments-list {
  padding-bottom: 20px;
}

.nv-comments-title-wrap {
  margin: 40px 0 60px;
}

.nv-comment-article {
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
}

.nv-comment-header {
  display: flex;
  align-items: center;
  text-transform: none;
  font-style: normal;
  font-size: .85em;
  margin-bottom: 20px;
}
.nv-comment-header .comment-author {
  display: flex;
  flex-direction: column;
}

.nv-comment-avatar {
  margin-right: 20px;
}
.nv-comment-avatar > img {
  float: left;
  border-radius: 50%;
}

.comment-author .author {
  font-weight: 700;
  text-transform: uppercase;
}

#comments input:not([type="submit"]) {
  width: 100%;
}
#comments textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
#comments .comment-respond {
  margin: 40px 0;
}
#comments .comment-reply-title small {
  float: right;
}
#comments input[type=submit] {
  border: 1px solid #676767;
  background-color: transparent;
  font-weight: 600;
  color: #676767;
}
#comments input[type=submit]:hover {
  background: transparent;
}

.comment-form {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.comment-form > p:not(.comment-notes) {
  margin-bottom: 0;
}
.comment-form label {
  margin-bottom: 10px;
  display: inline-block;
}
.comment-form .form-submit {
  margin-top: 10px;
}

.pingback {
  border-bottom: 1px solid #f0f0f0;
}
.pingback .edit-link {
  display: block;
  font-size: .85em;
  margin-top: 20px;
}

blockquote {
  text-align: center;
  margin: 40px 0;
}
blockquote p {
  font-size: 1.1em;
}
blockquote cite {
  padding-top: 20px;
  display: block;
  color: #676767;
  font-style: normal;
  font-size: .95em;
  text-align: center;
}
blockquote:after, blockquote:before {
  height: 3px;
  width: 60px;
  background-color: #c9c9c9;
  content: " ";
  display: block;
}
blockquote:before {
  margin: 0 auto 40px;
}
blockquote:after {
  margin: 40px auto 0;
}
blockquote > * {
  margin-bottom: 0;
}

table {
  width: 100%;
  margin: 20px 0;
}
table td, table th {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}
table tbody tr:hover {
  background-color: #fbfbfb;
}

code {
  background: #d0effb;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
}

pre {
  display: block;
  padding: 20px;
  background: #fbfbfb;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  margin: 20px 0;
  white-space: pre-wrap;
  font-size: 0.9em;
  line-height: 2em;
}

.nv-content-wrap:after, .excerpt-wrap:after {
  content: "";
  clear: both;
  display: table;
}
.nv-content-wrap ul, .excerpt-wrap ul {
  list-style-type: circle;
}
.nv-content-wrap > ul, .nv-content-wrap > ol, .excerpt-wrap > ul, .excerpt-wrap > ol {
  margin: 20px 0;
}
.nv-content-wrap ul, .nv-content-wrap ol, .excerpt-wrap ul, .excerpt-wrap ol {
  padding-left: 20px;
}
.nv-content-wrap ul li, .nv-content-wrap ol li, .excerpt-wrap ul li, .excerpt-wrap ol li {
  line-height: 2em;
  margin-bottom: 10px;
}
.nv-content-wrap dl:not(.gallery-item), .excerpt-wrap dl:not(.gallery-item) {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 40px;
  margin: 20px 0;
}
.nv-content-wrap dt:not(.gallery-icon), .excerpt-wrap dt:not(.gallery-icon) {
  border-right: 1px solid #f0f0f0;
  padding: 0 20px;
}
.nv-content-wrap dt:not(.gallery-icon) dfn, .excerpt-wrap dt:not(.gallery-icon) dfn {
  font-style: normal;
  font-weight: 600;
}
.nv-content-wrap dd:not(.gallery-caption), .excerpt-wrap dd:not(.gallery-caption) {
  padding: 0 20px;
}

.alignleft {
  float: left;
  margin: 16px 16px 16px 0;
}

.alignright {
  float: right;
  margin: 16px 0 16px 16px;
}

.aligncenter {
  text-align: center;
  margin: 0 auto;
}

.wp-caption {
  max-width: 100%;
}

.wp-caption-text {
  text-align: center;
  font-size: 0.8em;
  font-weight: 500;
}

.twitter-tweet.twitter-tweet-rendered {
  padding: 20px 0;
  margin: auto;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid #f0f0f0;
  margin: 10px 0;
  display: inline-block;
  width: 100%;
}

.widget_media_gallery .gallery-columns-1 .gallery-item {
  width: 100%;
  max-width: 100%;
}
.widget_media_gallery .gallery-columns-2 .gallery-item {
  max-width: 48%;
}
.widget_media_gallery .gallery-columns-3 .gallery-item {
  max-width: 31.3333333333%;
}
.widget_media_gallery .gallery-columns-4 .gallery-item {
  max-width: 23%;
}
.widget_media_gallery .gallery-columns-5 .gallery-item {
  max-width: 18%;
}
.widget_media_gallery .gallery-columns-6 .gallery-item {
  max-width: 14.6666666667%;
}
.widget_media_gallery .gallery-columns-7 .gallery-item {
  max-width: 12.2857142857%;
}
.widget_media_gallery .gallery-columns-8 .gallery-item {
  max-width: 10.5%;
}
.widget_media_gallery .gallery-columns-9 .gallery-item {
  max-width: 9.1111111111%;
}
.widget_media_gallery .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.widget_media_gallery br {
  display: none;
}
.widget_media_gallery .gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.nv-sidebar-wrap {
  margin-bottom: 40px;
}

.widget ul {
  padding: 0;
}
.widget ul ul {
  padding-left: 10px;
  border-left: 1px solid #f0f0f0;
}

.widget_media_image img {
  width: 100%;
}

.widget {
  word-break: break-word;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.widget select {
  max-width: 100%;
  width: 100%;
}
.widget p.widget-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1.25em;
}
.widget:last-child {
  border: none;
  margin: 0;
  padding: 0;
}

.widget ul {
  padding: 0;
}
.widget ul ul {
  padding-left: 10px;
  border-left: 1px solid #f0f0f0;
}
.widget ul li {
  margin-top: 5px;
}

.widget_media_image img {
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 769px) {
  .container {
    max-width: 720px;
  }

  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 1em;
  }

  .has-neve-body-font-size {
    font-size: 16px;
  }

  .has-neve-h-1-font-size {
    font-size: 2em;
  }

  .has-neve-h-2-font-size {
    font-size: 1.75em;
  }

  .has-neve-h-3-font-size {
    font-size: 1.5em;
  }

  .has-neve-h-4-font-size {
    font-size: 1.25em;
  }

  .has-neve-h-5-font-size {
    font-size: 1em;
  }

  .has-neve-h-6-font-size {
    font-size: 1em;
  }

  .nv-sidebar-full-width .alignwide {
    width: 60vw;
    max-width: 60vw;
    margin-left: calc(50% - 30vw);
  }

  #comments li {
    margin-top: 20px;
  }
  #comments ol > ol {
    padding-left: 20px;
  }
  #comments .comment-form {
    grid-template-columns: repeat(3, 1fr);
  }
  #comments .comment-form .comment-notes, #comments .comment-form .comment-form-comment, #comments .comment-form .logged-in-as {
    grid-column: span 3;
  }

  .hidden-on-mobile {
    display: initial;
  }

  .hidden-on-tablet {
    display: none;
  }
}
@media (min-width: 960px) {
  .container {
    max-width: 960px;
  }

  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .neve-main > .container .col {
    max-width: 70%;
  }

  .navbar-toggle-wrapper {
    display: none;
  }

  .menu-opened {
    overflow: inherit;
  }

  .nv-nav-wrap {
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
  }

  li > .caret-wrap {
    float: right;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  #nv-primary-navigation .amp-caret-wrap {
    display: none;
  }
  #nv-primary-navigation .amp-desktop-caret-wrap {
    display: block;
  }

  #nv-primary-navigation {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style-type: none;
    overflow-y: inherit;
    max-height: inherit;
    margin-left: auto;
    justify-content: flex-start;
  }
  #nv-primary-navigation li {
    padding-right: 10px;
    padding-left: 10px;
  }
  .responsive-opened #nv-primary-navigation {
    padding-bottom: 0;
  }
  #nv-primary-navigation > li {
    width: inherit;
  }
  #nv-primary-navigation > li > a {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  #nv-primary-navigation > li li a {
    position: relative;
  }
  #nv-primary-navigation li:hover > a, #nv-primary-navigation li:focus > a {
    color: #0366d6;
    text-decoration: none;
  }
  #nv-primary-navigation li:hover > a > .caret-wrap .caret, #nv-primary-navigation li:focus > a > .caret-wrap .caret {
    color: #0366d6;
  }
  #nv-primary-navigation .sub-menu {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: inherit;
    padding: 0;
    top: 100%;
    background: #fff;
    border-left: none;
    border-top: 1px solid #f0f0f0;
    position: absolute;
    overflow: visible;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
  }
  #nv-primary-navigation .sub-menu .sub-menu {
    left: 100%;
    right: auto;
    top: -1px;
  }
  #nv-primary-navigation .sub-menu li {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-top: none;
    min-width: 150px;
  }
  #nv-primary-navigation .sub-menu li a {
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    margin-right: 10px;
    padding: 7px 14px;
  }
  #nv-primary-navigation .menu-item-has-children:hover > .sub-menu, #nv-primary-navigation .menu-item-has-children:focus > .sub-menu, #nv-primary-navigation .menu-item-has-children:focus-within > .sub-menu {
    display: block;
    visibility: visible;
    opacity: 1;
  }
  #nv-primary-navigation .menu-item-has-children:last-child {
    padding-right: 10px;
  }
  #nv-primary-navigation > .menu-item-has-children > .sub-menu {
    right: 0;
  }

  .caret-wrap {
    position: static;
    border: none;
    top: inherit;
    width: 10px;
  }
  .caret-wrap.dropdown-open .caret {
    color: #404248;
    transform: rotate(135deg);
  }

  .menu-item-has-children:last-child .caret-wrap {
    right: -10px;
  }

  .nv-nav-wrap.nav-center {
    flex-direction: column;
    justify-content: center;
  }

  .nav-center #nv-primary-navigation {
    margin: 0 auto;
    justify-content: center;
  }
  .nav-center #nv-primary-navigation > li > a {
    padding-top: 10px;
  }

  .nav-center .site-logo {
    justify-content: center;
  }
  .nav-center .site-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .menu-item-nav-search.responsive-nav-search {
    display: none;
  }

  #nv-primary-navigation .menu-item-nav-search:not(.responsive-nav-search) {
    display: block;
  }

  #nv-primary-navigation > li.menu-item-nav-search > a {
    display: block;
  }

  .nv-nav-wrap.nav-right {
    flex-direction: row-reverse;
  }

  .nav-right #nv-primary-navigation {
    margin-left: 0;
    margin-right: auto;
  }

  .nav-right .nv-nav-cart {
    right: inherit;
    left: 0;
  }

  .nav-right #nv-primary-navigation > .menu-item-has-children > .sub-menu {
    left: 0;
    right: inherit;
  }

  .layout-default .nv-post-thumbnail-wrap, .layout-alternative .nv-post-thumbnail-wrap {
    margin-bottom: 0;
  }
  .layout-default .article-content-col .content, .layout-alternative .article-content-col .content {
    display: flex;
    align-items: center;
  }

  .layout-default .article-content-col .content {
    flex-direction: row;
  }

  .layout-alternative .article-content-col .content {
    flex-direction: row-reverse;
  }

  .non-grid-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .non-grid-content .button {
    align-self: flex-start;
  }

  .nv-post-thumbnail-wrap ~ .default-layout-content {
    padding-left: 20px;
  }

  .nv-post-thumbnail-wrap ~ .alternative-layout-content {
    padding-right: 20px;
  }

  .layout-default .nv-post-thumbnail-wrap, .layout-alternative .nv-post-thumbnail-wrap {
    max-width: 40%;
  }

  article.layout-alternative:nth-child(even) .article-content-col .content {
    flex-direction: row;
  }
  article.layout-alternative:nth-child(even) .article-content-col .content .nv-post-thumbnail-wrap ~ .alternative-layout-content {
    padding: 0 0 0 40px;
  }

  .non-grid-content > .entry-title {
    margin-top: 0;
  }

  .archive-container {
    padding-top: 30px;
  }

  .nv-content-none-wrap {
    margin-bottom: 0;
  }

  .nv-sidebar-wrap {
    max-width: 30%;
  }
  .nv-sidebar-wrap.nv-right {
    border-left: 1px solid #f0f0f0;
  }
  .nv-sidebar-wrap.nv-left {
    border-right: 1px solid #f0f0f0;
  }

  .nv-index-posts:not(:only-child) {
    padding-right: 15px;
  }
  .nv-sidebar-wrap.nv-left + .nv-index-posts:not(:only-child) {
    padding-left: 15px;
  }

  .nv-single-post-wrap, .nv-single-page-wrap, .nv-index-posts {
    margin-bottom: 40px;
  }
  .nv-single-post-wrap:not(:only-child), .nv-single-page-wrap:not(:only-child), .nv-index-posts:not(:only-child) {
    padding-right: 40px;
  }
  .nv-sidebar-wrap.nv-left + .nv-single-post-wrap:not(:only-child), .nv-sidebar-wrap.nv-left + .nv-single-page-wrap:not(:only-child), .nv-sidebar-wrap.nv-left + .nv-index-posts:not(:only-child) {
    padding-right: 15px;
    padding-left: 40px;
  }

  .nv-sidebar-wrap.nv-right {
    padding-left: 40px;
  }
  .nv-sidebar-wrap.nv-left {
    padding-right: 40px;
  }

  #nv-primary-navigation .button {
    margin: inherit;
    padding: 6px 12px;
  }

  #nv-primary-navigation .neve-mega-menu {
    position: static;
  }

  #nv-primary-navigation .neve-mega-menu > .sub-menu {
    width: 950px;
    position: absolute;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 20px;
    pointer-events: none;
  }

  #nv-primary-navigation .neve-mega-menu:hover > .sub-menu,
  #nv-primary-navigation .neve-mega-menu:focus > .sub-menu,
  #nv-primary-navigation .neve-mega-menu:focus-within > .sub-menu {
    opacity: 1;
    display: grid;
    visibility: visible;
    pointer-events: all;
  }

  #nv-primary-navigation .neve-mega-menu > .sub-menu .neve-mm-col > .sub-menu {
    left: initial;
    right: initial;
  }

  #nv-primary-navigation .neve-mega-menu .neve-mm-col .neve-mm-heading a {
    font-weight: 700;
    text-transform: uppercase;
  }

  #nv-primary-navigation .neve-mega-menu .neve-mm-col > .sub-menu {
    position: static;
    visibility: visible;
    opacity: 1;
    left: initial;
    right: initial;
    border: none;
    box-shadow: none;
  }
  #nv-primary-navigation .neve-mega-menu .neve-mm-col > .sub-menu li {
    border: none;
  }

  .hidden-on-tablet {
    display: initial;
  }

  .show-on-desktop {
    display: initial;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #nv-primary-navigation .neve-mega-menu {
    position: static;
  }
  #nv-primary-navigation .neve-mega-menu > .sub-menu {
    width: 1170px;
  }
}
.neve-main .elementor-text-editor ul, .neve-main .elementor-text-editor ol {
  padding-left: 20px;
}
.neve-main .elementor-text-editor ul {
  list-style: inherit;
}

/*# sourceMappingURL=style.css.map */